[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-crispy-forms = "*"
django-allauth = "*"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
django-newsletter = {editable = true, git = "https://github.com/dokterbob/django-newsletter.git"}

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.6"
