[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-crispy-forms = "*"
django-allauth = "*"
gunicorn = "*"
whitenoise = "*"
django-newsletter = {editable = true, git = "https://github.com/dokterbob/django-newsletter.git"}
"psycopg2-binary" = "*"
python-dotenv = "*"
django-contact-form = "*"
opcua = "*"
cryptography = "*"
django-import-export = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.6"
