{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="glb">
<h2 class="large-txt">{% blocktrans %}Import Variables{% endblocktrans %}</h2>
<hr class="mt-0 mb-4">
<div class="glb-h">
<div class="glb-h-e">
{% if confirm_form %}
  <form class="medium-txt col-md-6" action="{% url "import_variables_processing" %}" method="POST">
    {% csrf_token %}
    {{ confirm_form }}
    <p class="medium-txt">{% trans "Below is a preview of variable data to be imported. If you are satisfied with the results, click 'Confirm'" %}</p>
    <div class="submit-row">
      <input type="submit" class="btn btn-success" name="confirm" value="{% trans "Confirm" %}">
    </div>
  </form>
{% else %}    
  <p class="medium-txt">{% trans "This importer will import the following variables model fields: " %}<code>{{ fields|join:", " }}</code></p>
  <form class="medium-txt col-md-6" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned medium-txt">
      {% for field in form %}
        <div class="glb-h-e">
          <p class="medium-txt">{{ field.label_tag }}</p>
          <p>{{ field }}</p>
          <p class="medium-txt">{{ field.errors }}</p>
          {% if field.field.help_text %}
          <p class="help">{{ field.field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>
    <p><input type="submit" class="btn btn-success" value="{% trans "Submit" %}"></p>
  </form>
{% endif %}
{% if result %}
  {% if result.has_errors %}
    <h2 class="large-txt">{% trans "Errors" %}</h2>
    <ul class="medium-txt">
      {% for error in result.base_errors  %}
      <li>
        {{ error.error }}
        <div class="traceback">{{ error.traceback|linebreaks }}</div>
      </li>
      {% endfor %}
      {% for line, errors in result.row_errors %}
        {% for error in errors %}
          <li>
            {% trans "Line number" %}: {{ line }} - {{ error.error }}
            <div><code>{{ error.row.values|join:", " }}</code></div>
            <div class="traceback">{{ error.traceback|linebreaks }}</div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% else %}

  <h2 class="large-txt">{% trans "Preview" %}</h2>
  <table class="medium-txt">
    <thead>
      <tr>
        <th></th>
        {% for field in result.diff_headers %}
          <th>{{ field }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for row in result.rows %}
    <tr>
      <td>
        {% if row.import_type == 'new' %}
          {% trans "New" %}
        {% elif row.import_type == 'skip' %}
          {% trans "Skipped" %}
        {% elif row.import_type == 'delete' %}
          {% trans "Delete" %}
        {% elif row.import_type == 'update' %}
          {% trans "Update" %}
        {% endif %}
      </td>
      {% for field in row.diff %}
      <td>
        {{ field }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endif %}
</div>
</div>
</div>
{% endblock  %}






