{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="glb">
<div class="glb-h">
<div class="glb-h-e">
<h1 class="large-txt">{% blocktrans with titlehere=newsletter.title|add:" newsletter archive"|title %}{{titlehere}}{% endblocktrans %}</h1>
<hr class="mt-0 mb-4">

<table class="table table-borderless medium-txt">
    <tr>
        <th scope="col">{% trans "Archived Submitions" %}</th>
    </tr>
    {% for submission in latest %}
    <tr scope="row">
        <td><a href="{{ submission.get_absolute_url }}">{{ submission }}</a></td>
    </tr>
    {% endfor %}
</table>

</div>
</div>
</div>
{% endblock content %}

