{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="glb">
<div class="glb-h">
<div class="glb-h-e">
<h1 class="large-txt">{% blocktrans with titlehere=newsletter.title|add:" newsletter"|title actionhere=action|title %}{{titlehere}}&nbsp;{{actionhere}}{% endblocktrans %}</h1>
<hr class="mt-0 mb-4">
{% if error %}
        <p class="medium-txt">{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>
        <p class="medium-txt">{% trans "If the error persists, please don't hesitate to contact us." %}</p>
{% else %}
    <form class="medium-txt col-md-6" enctype="multipart/form-data" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" id="id_submit" name="submit" value="{% trans "Subscribe" %}" type="submit" /></p>
    </form>
{% endif %}
</div>
</div>
</div>
{% endblock content %}

