{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="glb">
<div class="glb-h">
<div class="glb-h-e">
<h1 class="large-txt">{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h1>
<hr class="mt-0 mb-4">
{% if error %}
        <p class="medium-txt">{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>
        {% comment %} Replace the the following dummy with a valid email address and remove this comment.
        <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:info@foobar.com">info@foobar.com</a></p>
        {% endcomment %}
{% else %}
    <form enctype="multipart/form-data" method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input id="id_submit" name="submit" value="{% trans "Subscribe" %}" type="submit" /></p>
    </form>
{% endif %}
</div>
</div>
</div>
{% endblock content %}

